body {
    /* background of website */
    background-color: honeydew;
}

.teal {
    color: rgb(0, 128 , 128);
}
#pink {
    color: #ff6699;
    font-size: 1.5rem;
}

b[class="red"] {
    color: red;
    display: inline;
}
b[class="none"] {
    color: red;
    display: none;
}


*.twitch {
    color: hsl(165, 100%, 40%);
    font-size: 3ch;
}

h1 {
    /*color of heading*/
    color:teal;
}

p[class="_strokes"] {
    font-size: 1.5em;

}

summary[class="_newPost"] {
    font-size: 0.5cm;

}

label[class="_Poster"] {
    font-size: 4mm;
}

label[class="_Date"] {
    font-size: 0.175in;
}

.box1{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: dashed;
    border-color: lightskyblue;
    border-width: 1ch;
    border-radius: 1ch;

}

.box2 {
    margin: 25px 25px 25px 25px;
    padding: 25px 25px 25px 25px;
    border-style: dashed;
    border-color: lightskyblue;
    border-width: 1ch;
    border-radius: 1ch;
}

.box3 {
    margin: auto;
}

.lineThrough {
    text-decoration: line-through;
    text-align: left;
}

