body {
    /* background of website */
    background-color: honeydew;
}

@media only screen and (max-width: 600px){
    body{
        background-color: mediumspringgreen;
    }
}

.teal {
    color: rgb(0, 128 , 128);
}
#pink {
    color: #ff6699;
    font-size: 1.5rem;
}
#red {
    color: red;
}

b[class="red"] {
    color: red;
    display: inline;
}
b[class="none"] {
    color: red;
    display: none;
}


*.twitch {
    color: hsl(165, 100%, 40%);
    font-size: 3ch;
}

h1, p {
    /*color of heading*/
    color: teal;
}

p[class="_strokes"] {
    font-size: 1.5em;

}

p[class="size"] {
    width: auto ;
    height: auto;
}

p[class="sizeM"] {
    max-width: 200x;
    max-height: 100px;
}
p[class="static"] {
    position: static;
}

div[class="fixed"] {
    position: fixed;
}

summary[class="_newPost"] {
    font-size: 0.5cm;

}

label[class="_Poster"] {
    font-size: 4mm;
}

label[class="_Date"] {
    font-size: 0.175in;
}

.box1{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: dashed;
    border-color: lightskyblue;
    border-width: 1ch;
    border-radius: 1ch;

}

.box2 {
    margin: 25px 25px 25px 25px;
    padding: 25px 25px 25px 25px;
    border-style: dashed;
    border-color: lightskyblue;
    border-width: 1ch;
    border-radius: 1ch;
}

.box3 {
    margin: auto;
}

.lineThrough {
    text-decoration: line-through;
    text-align: left;
}


button:hover {
    background-color: skyblue;
}

a:active{
    color: red;
}

.container {
    display: flex;
    background-color: lightyellow;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

}

.container > div {
    background-color: honeydew;
    margin: 10px;
    padding: 20;
    font-size: 30px;
}

.grid {
    display: grid;
    background-color: lightskyblue;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 10x;
    grid-row-gap: 10x; 
}

.grid > div {
    margin: 10px;
    padding: 20;
    font-size: 30px;
}
.grid div {
    background-color: lavender;
}

h2 + p {
    background-color: white;
}

h3 ~ p {
    background-color: white;
}

div.Choices {
    color: lightpink;
}

html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }

